*{
    margin: 0;
    padding:0;
    text-align: center;
}

h1{
    background-color: rgb(17, 8, 91);
    color:aliceblue;
    height : 5rem ;
    line-height: 5rem;
}

.choice{
    height: 165px ;
    width : 165px ;
    border-radius: 50%;
    display : flex ;
    justify-content: center;
    align-items: center;
}

img{
    height :150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 3rem;
    margin-top: 5rem;
}
.scoreboard{
    display : flex;
    justify-content: center;
    margin-top: 5rem;
    gap : 3rem ;
}

.score{
    font-size: 20px;
    font-weight: bold;
}
#user-score{
    font-size: 50px;
}
#computer-score{
    font-size: 50px;
}
.msgcontainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#msg {
    display : inline;
    font-size: 25px;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
    height : 4rem;
    border-radius: 10px solid rgb(0, 0, 0);
    border-radius: 10%;
    line-height: 4rem;
}